
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.6);
  top: 0;
  left: 0;
}
header {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  background-image: url("../img/hbg.jpg");
}
img {
  width: 30%;
  height: 15%;
}
h1,h2 {
  font-size: 10rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
.motto {
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-top: 180px;
}
body {
  background-image: url("../img/bbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
  font-size: 4rem;
  font-weight: 700;
  color: #a0d6daa6;
  background-color: rgb(0, 0, 0);
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}


.services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.web{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  color: #a0d6daa6;
  text-align: center;
  max-width: 400px;
  max-height: fit-content;
  margin-left: 20px;
  margin-right: 20px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.app{
      display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  color: #a0d6daa6;
  text-align: center;
  max-width: 400px;
  max-height: fit-content;
  margin-left: 20px;
  margin-right: 20px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.app-img{
    width:auto;
    height: 160px;
}

.consult{
      display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  color: #a0d6daa6;
  text-align: center;
  max-width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

footer {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  background-color: rgba(0,0,0,0.6);
  margin-top: 20px;
}

.description{
    font-size: 2rem;
    font-weight: 500;
    color: #e1e8e9de;
    text-align: center; 
}